# Copyright (C) 2023 Maciej Żok
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Ignore everything
*

# Allow CI configs
!/.gitattributes
!/.gitignore
!/.github/workflows/*.yml
!/Makefile

# Allow source code...
!*.go
!go.sum
!go.sum.license
!go.mod

!README.md
!LICENSE
!LICENSES/*.txt

# ...also in subdirectories
!*/

# Allow external dependency
!/external/TinyLLama-v0.Q8_0.gguf
!/external/TinyLLama-v0.Q8_0.gguf.license
