# Ignore everything
*

# Allow CI configs
!/.gitattributes
!/.gitignore
!/.github/workflows/*.yml
!/Makefile

# Allow source code...
!*.go
!go.sum
!go.mod

!*.toml

!README.md
!LICENSE

# ...also in subdirectories
!*/

# Allow external dependency
!/external/TinyLLama-v0.Q8_0.gguf
!/external/TinyLLama-v0.Q8_0.gguf.license
